*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
}
.container{
    width: 1920px;
    margin: 0 auto; 
}
ul{
    list-style-type: none;
}
a,li{
    text-decoration: none;
}