header{
    .container{
        background: #D7D7D7;
        background-image: url(/img/Rectangle\ 67.png);
        background-position: top left -180px;
        background-repeat: no-repeat;
        background-size: cover;
    }   
    .nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(77, 77, 77);
        .logo{
            width: 59.666px;
            height: 50px;
            flex-shrink: 0;
            margin-left: 70px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            padding-right: 100px;
            
            li, a{
                display: flex;
                width: 147px;
                height: 46px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                color: #888181;
                text-align: center;
                font-family: Montserrat;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-left: 40px;
            }
            button{
                display: flex;
                align-items: center;
                text-align: center;
                width: 147px;
                height: 40px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                color: #000;
                text-align: center;
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 15px;
            }
        }
    }

    // HERO SECTION

    .hero{ 
        display: flex;
    .portret{
            width: 500px;
            height: 700px;
            margin-top: 60px;
            margin-left: 300px;
            flex-shrink: 0;
        }
        h3{
            display: flex;
            width: 171px;
            height: 58px;
            margin-top: 229px;
            margin-left: 70px;
            flex-direction: column;
            justify-content: flex-end;
            flex-shrink: 0;
            color: #000;
            text-align: center;
            font-family: Raleway;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        h2{
            width: 100px;
            height: 105px;
            margin-top: 54px;
            margin-left: 80px;
            flex-shrink: 0;
            color: #000;
            text-align: center;
            font-family: Raleway;
            font-size: 65px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            width: 426px;
            height: 40px;
            margin-top: 50px;
            margin-left: 10px;
            flex-shrink: 0;
            color: #909090;
            text-align: center;
            font-family: Raleway;
            font-size: 25px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
        .icons{
            margin-top: 100px;
            margin-left: 80px;
            a{
                width: 34.965px;
                height: 34.039px;
                flex-shrink: 0;
                margin-left: 50px;
            }
        }
    }

}
